<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Producthuntdart</title>
    
    <script async type="application/dart" src="main.dart"></script>
    <script async src="packages/browser/dart.js"></script>
    
    <link type="text/css" rel="stylesheet" href="css/pure-min.css">
    <link type="text/css" rel="stylesheet" href="css/pure-responsive.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>
  <body ng-app>
    <div ng-hide="true" class="well text-center">Please wait, loading application...</div>

    <div chat-app class="pure-g-r" ng-cloak>
      <div id="chat-box" class="pure-u-1-1 well content">
        <form class="pure-form">
          <fieldset>
            <legend class="form-legend">Product Hunt</legend>
          </fieldset>
        </form>
        
        <div class="pure-g" ng-repeat="hunt in hunts">
          <div class="pure-u-1-1 post">
            <div class="pure-input-1">
              <div ng-click="update(hunt.key, hunt.value)" class="upvote">
                <a href="#" class="upvote-link"></a>
                <span class="vote-count" data-vote-count="">{{hunt.value.point}}</span>
              </div>
              <div class="url">
                <a class="title" target="_blank" href="{{hunt.value.url}}">{{hunt.value.name}}</a> 
             
              </div>
             </div>
          </div>
        </div>
      </div>
     
      <div id="input-box" class="pure-u-1-1 content">
        <form class="pure-form pure-g">
          <div class="pure-u-1-1" style="color: red;">{{error}}</div>
          <div class="pure-u-1-2">
            <input class="pure-input-1" ng-model="name" placeholder="Product naam">
          </div>
          <div class="pure-u-1-2">
            <input class="pure-input-1" ng-model="url" placeholder="Url">
          </div>
          <button class="pure-u-1-1 pure-button pure-button-primary" ng-click="send()">Send</button>
        </form>
      </div>
      
    </div>
  </body>
</html>
